$white: #fff;
$black: #25373d;
$grey: #60646d;
$dark-blue: #2C82C9;

// media query variable
$mid: "(min-width 768px)";

* {
    box-sizing: border-box; // global box-model control
}

body {
    font-family: 'Droid Sans', sans-serif;
    background: url(../img/cup.svg) no-repeat center;
    background-color: #8194BF;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

.search-form {
    display: flex; /* Using flex for most of layout */
    flex-direction: column; /* because default value is row */
}

.text-input {
    font-family: 'Droid Sans', sans-serif;
    background: none;
    color: $white;
    width: 100%;
    font-size: 1.5rem;
}

.text-input {
    float: left;
    width: 70%;
    padding: 15px 0;
    border: 0;
    font-weight: 400;
}


.text-input::placeholder {
    color: $white;
}

.search-btn {
    font-family: 'Droid Sans', sans-serif;
    float: right;
    font-size: 1.5rem;
    width: 30%;
    padding: 15px 0;
    font-weight: 400;
}

// Text field search button
.search-btn {
    background: #44bbff;
    color: #eee;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

// only 1 main heading in our app
.main-heading {
    color: #344146;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
}

// Text alignment helper class
.text-center {
    text-align: center;
}





.count-flat-bg-yellow-1,
.count-flat-bg-blue-1,
.count-flat-bg-green-1,
.count-flat-bg-purple-1 {
    padding: 1em;
}

.count-flat-bg-yellow-1 {
    background: #f1c40f;
    opacity: 0.5;
}

.count-flat-bg-blue-1 {
    background: #2C82C9;
    opacity: 0.5;
}

.count-flat-bg-green-1 {
    background: #53df83;
}

.count-flat-bg-purple-1 {
    background: #897FBA;
}

::placeholder::focus {
    color: $white;
}